
<h5>Editar Perfil Público</h5>
<p>
  Esta información se mostrará publicamente y será visto por todos los usuarios.
</p>
<%= form_for @user.profile do |f|%>

<ul class="collapsible popout" data-collapsible="accordion">

  <li>
    <div class="collapsible-header"> <i class="material-icons">business</i> Categoría </div>
    <div class="collapsible-body">
        <p class="field">
          <%= f.label "Categoria" %>
          <%= f.select :category_id, options_from_collection_for_select(Category.all, :id, :name) %>
        </p>
        <p>
          Especifíca una categoría en la que quieres que tu marca sea vista. Si no seleccionas alguna no serás visible para los usuarios.
          <br>
          Si no estás seguro de cual es la categoría adecuada para tu marca ponte en contacto con el equipo de administracion para ayudarte a elegir la categoría adecuada
        </p>

    </div>
 </li>

 <li>
    <div class="collapsible-header"> <i class="material-icons">text_fields
</i> Titulo </div>
    <div class="collapsible-body">
            <p class="field">
              <%= f.label "Nombre del negocio o servicio" %><br>
              <%= f.text_field :name %>
            </p>
    </div>
 </li>

  <li>
    <div class="collapsible-header"> <i class="material-icons">sort</i> Descripcion </div>
    <div class="collapsible-body">
        <p class="field">
          <%= f.label "Parrafo descriptivo sobre el negocio o servicio" %><br>
          <%= f.text_area :body, style:"max-width: 100%; height: 238px;" %>
      </p>
    </div>
 </li>

  <li>
    <div class="collapsible-header"> <i class="material-icons">directions</i> Dirección</div>
    <div class="collapsible-body">
          <p class="field">
            <%= f.label :direccion %><br>
            <%= f.text_area :direccion, style:"max-width: 100%; height: 170px;"%>
          </p>
    </div>
 </li>


   <li>
    <div class="collapsible-header"> <i class="material-icons">add_a_photo</i> Imagen de portada </div>
    <div class="collapsible-body">

        <p style="margin-bottom: 3%">
          <b>Imagen de portada</b>
              <div class="file-field input-field">
                <div class="btn">
                  <span>Abrir</span>
                  <input type="file">
                  <%= f.file_field :cover, input_html: { hidden: true }%>
                </div>
                <div class="file-path-wrapper">
                  <input class="file-path validate" type="text">
                </div>
              </div>

        </p>
    </div>
 </li>


  <div class="actions">
    <p>
      
    <%= f.submit "Actualizar Perfil", class:"btn"%>
      </p>
</div>
<% end %>
