<% @profile.posts.order(created_at: :desc).each do |post| %>
  <ul class="collection z-depth-2">
    <li class="collection-item row">
      <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= @profile.avatar.url(:mini) %>" alt="" class="circle responsive-img">
      <b><%= @profile.name %></b>
    </li>

    <li class="collection-item">
      <p>
        <%= post.body %>
      </p>
      <% if post.pictures.count > 1 %>
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
            <% post.pictures.each do |pic| %>
              <a href="<%= pic.image.url() %>"><img src="<%= pic.image.url(:thumb)%>" class:"responsive-img"></a>
            <% end %>
        </div>
        <% else %>
        <% post.pictures.each do |pic| %>
        <div class="center">
          <%= image_tag(pic.image, class:"responsive-img")%>
        </div>
          <% end %>
      <% end %>

    </li>
    <%= div_for(post, class: "collection-item row center") do %>
      <% if client_signed_in? %>
        <%= render partial: "hearts/button_client", locals: {post: post} %>
      <% else %>
        <%= render partial: "hearts/button", locals: { post: post } %>
      <% end %>
   <% end %>

   </ul>
<% end %>
