<div style="margin-top:3%;margin-bottom: 0px;" class="row">

  <div class="col s4 l3">
    <img style="margin-left:1%;"
    src="<%= @profile.avatar %>" alt="" class="circle responsive-img">
    <!--Follow Button-->
  </div>
  <div style="padding-left:5%;" class="col s8 m6 grey-text darken-4">
      <h5><b><%= @profile.name %></b></h5>
    <br>
    <div href="/root" class="star-rating" data-score= <%= @avg_review %> ></div>
    <em><%= "#{@reviews.count} valoraciones" %></em>

    <% if client_signed_in? && current_client.reviewed?(@profile) %>
      <% @reviews.where(client_id: current_client.id).each do |rev|%>
        <%= link_to "editar", edit_profile_review_path(@profile,rev) %>
      <% end %>
      <% elsif  client_signed_in? %>
      <a class="modal-trigger btn-floating blue right" href="#review-modal"><%= icon('star') %></a>

    <% end %>

    <div id="follow_profile">
      <%= render partial: "follows/followbtn", locals: { profile: @profile } %>
    </div>

  </div>

</div>
<div>
      <table class="striped centered black-text">
      <thead>
        <tr>
            <th data-field="id">Publicaciones</th>
            <th data-field="name">Seguidores</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <%=  @profile.posts.count %>
          </td>
          <td>
            <%= @profile.follows.count %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="row">
      <%= @profile.body %>
    </div>
</div>
<div class="row center">
  <div class="center">
    <%= icon('users',style:'font-size:2rem;') %>
    Redes Sociales
  </div>
<% if @profile.facebook != nil%>
    <div class="fb-like" data-href= "<%= @profile.facebook %>"
    data-layout="button" data-action="like" data-show-faces="false"</div>
<% end %>

</div>
