<div class="">
  <%= render "profile_info" %>
</div>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane container" style="max-width:700px;" id="tab1">

    <% if my_profile?(@profile) %>
    <br>
    <b>Publicacion ŕapida</b><br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal_post">
      Publicar
    </button>
    <%= render"/posts/form" %>   
   <hr>
    <% end %>

    <% if @profile.posts.present? %>
    <% if @pinned.present? %>
    <div class="page-header">
      <em><b>Publicación destacada</b></em>
      <%= icon('star', class:"left yellow-text") %>
      <br>
      <%= render partial: "posts/post",locals:{post: @pinned, color: 'warning'} %>
    </div>
    <% end %><!---->
    <b>Recientes</b>
    <%= render "post_frame" %>
    <% else %>
    <div class="alert alert-warning"><h3>No hay contenido para mostrar</h3></div>
    <% end %>
  </div>

  <div role="tabpanel" class="tab-pane active container" id="tab2">
    <% if my_profile?(@profile) %><br>
    <%= link_to "Publicar Oferta", new_offer_path, class:"btn btn-default" %>
    <hr>
    <% end %>

    <% if @offers.present? %>
    <% @offers.each do |offer| %>
    <%= render partial:'offers/offer_small', locals:{offer: offer} %>
    <% end %>
    <% else %>
    <%= content_tag(:div, "No hay contenido para mostrar", class:"h3") %>
    <% end %> 
  </div>

  <div role="tabpanel" class="tab-pane container" id="tab3">
    <% if @profile.posts.present? %>
    <div class="row">
      <% @profile.posts.order("created_at DESC").each do |post| %>
      <% unless post.pictures.empty? %>
      <% post.pictures.each do |pic| %>
      <div class="col-xs-6 col-md-4">
        <a class="thumbnail">
          <%= image_tag(pic.image, class:"responsive-img", lazy: true) %>
        </a>
      </div>
      <% end %>
      <% end %>
      <% end %>
    </div>
    <% else %>
    <div class="alert alert-warning"><h3>No Hay contenido para Mostrar</h3></div>
    <% end %>
  </div>
</div>
<script>
  $("img.lazy").lazyload({
    effect : "fadeIn",
    treshold: 200
  });

  $('.star-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
  $('#myTabs a').click(function (e) {
    e.preventDefault()
    $(this).tab('show')
  })
</script>
