<div class="container">
<div>
  <%= render "profile_info" %>
</div>
  <% @profile.posts.each do |post| %>
    <ul class="collection z-depth-2">
      <li class="collection-item row">
        <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= @profile.avatar.url %>" alt="" class="circle responsive-img">
        <b><%= @profile.name %></b>
      </li>

      <li class="collection-item">
        <p>
          <%= post.body %>
        </p>
        <% if post.pictures.count > 1 %>
          <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
              <% post.pictures.each do |pic| %>
                <a href="<%= pic.image.url(:original) %>"><img src="<%= pic.image.url(:tumb)%>"></a>
              <% end %>
          </div>
          <% else %>
            <%= image_tag(pic.image, class:"responsive-img")%>
        <% end %>

      </li>

      <li class="collection-item row s12">
        <a class="col s4 waves-effect waves-teal btn-flat center"> <i class="material-icons">thumb_up</i></a>
        <a class="col s4 waves-effect waves-teal btn-flat center"> <i class="material-icons">comment</i></a>
        <a class="col s4 waves-effect waves-teal btn-flat center"> <i class="material-icons">star</i></a>
        </li>

     </ul>
<% end %>

</div>

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
