<div class="container">
  <%= render "profile_info" %>
</div>

<div class="col s12">
  <ul class="tabs blue-text">
    <li class="tab col s3"><a href="#tab1">Publicaciones</a></li>
    <li class="tab col s3"><a href="#tab2"><%= @profile.offer_section_name %></a></li>
    <li class="tab col s3"><a href="#tab3">Galería</a></li>
  </ul>
</div>

<div id="tab1" class="col s12 container">
  <%= render "post_frame" %>
</div>

<div id="tab2" class="col s12 container">
  <% if user_signed_in? %>
  <% if current_user.id == @profile.user_id %><br>
  <%= link_to "Publicar Oferta", new_offer_path, class:"btn teal right" %><br>
  <% end %>
  <% end %>

  <%= render "offers/offerts" %>
</div>

<div id="tab3" class="col s12">
  <div class="row">
    <% @profile.posts.order("created_at DESC").each do |post| %>
    <% unless post.pictures.empty? %>
    <% post.pictures.each do |pic| %>
    <div class="col s6">
      <%= image_tag(pic.image, class:"responsive-img", lazy: true) %>
    </div>
    <% end %>
    <% end %>
    <% end %>
  </div>

</div>
<% if user_signed_in? && current_user.id == @profile.user_id %>
<div class="z-depth-1">
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a href="#modal1" class="modal-trigger btn-floating btn-large red">
      <%= icon('pencil') %>

    </a>
  </div>
  <%= render "posts/form" %>
  <% end %>

  <!-- Modal Structure -->
  <%= render "reviews/form" %>


  <script>
  $("img.lazy").lazyload({
    effect : "fadeIn"
  });

    $('.modal-trigger').leanModal({
    dismissible: true, // Modal can be dismissed by clicking outside of the modal
    opacity: .5, // Opacity of modal background
    in_duration: 300, // Transition in duration
    out_duration: 200, // Transition out duration
  }
  );
    $('.star-rating').raty({
      readOnly: true,
      score: function() {
        return $(this).attr('data-score');
      }
    });
  </script>
