<div class="container">
  <h5><%= @profile.name %></h5>
  <% @profile.posts.each do |post| %>
    <ul class="collection z-depth-2">
      <li class="collection-item">
        <b><%= post.title %></b>
      </li>

      <li class="collection-item">

            <% post.pictures.each do |pic| %>
              <img class="materialboxed" src="<%= pic.image.url(:thumb)%>">
            <% end %>

        <%= post.body %>
      </li>
<div class="container">
  <% @profile.posts.each do |post| %>
    <ul class="collection z-depth-2">
      <li class="collection-item">
        <b><%= post.title %></b>
      </li>

      <li class="collection-item">

        <div class="fotorama"
             data-nav="thumbs">
            <% post.pictures.each do |pic| %>
              <a href="<%= pic.image.url(:original) %>"><img src="<%= pic.image.url(:tumb)%>"></a>
            <% end %>
        </div>


      </li>

      <li class="collection-item row s12">
        <a class="col s4 waves-effect waves-teal btn-flat center"> <i class="material-icons">thumb_up</i></a>
        <a class="col s4 waves-effect waves-teal btn-flat center"> <i class="material-icons">comment</i></a>
        <a class="col s4 waves-effect waves-teal btn-flat center"> <i class="material-icons">star</i></a>
        </li>

     </ul>
     <% end %>
<% end %>

</div>
</div>

<!-- fotorama.css & fotorama.js. -->
<link  href="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet"> <!-- 3 KB -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.js"></script> <!-- 16 KB -->
