<ul class="collapsible" data-collapsible="accordion">
  <% @surveys.limit(1).each do |survey| %>
  <li>

  <div class="collapsible-header"><i class="material-icons">assignment</i><%= survey.name %></div>

  <div class="collapsible-body">
    <% survey.questions.each do |question| %>
  <canvas id="question_<%= question.id %>" width="400" height="100">
    <script>
      var ctx = document.getElementById("question_<%= question.id %>");
  var data = {
    labels: [
          <% question.options.each do |option| %>
            "<%= option.text %>",
          <% end %>
            ],
    datasets: [
        {
            label: "<%= question.text %>",
            backgroundColor: "rgba(83, 137, 255, 0.5)",
            borderColor: "rgba(255,99,132,1)",
            borderWidth: 1,
            hoverBackgroundColor: "rgba(77, 85, 169, 0.6)",
            hoverBorderColor: "rgba(83, 85, 255, 1)",
            data: [
                    <% question.options.each do |option| %>
                      "<%= count = number_of_people_who_also_answered_count(option.id) %>",
                    <% end %>
                  ],
        }
    ]
};
  var question_<%= question.id %> = new Chart(ctx, {
    type: 'bar',
    data: data,
  });
  $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
    </script>
  </canvas>
    <% end %>
  
  </div>

  </li>
  
<% end %>  
</ul>