<div class="container">

	<!-- if user is signed in-->
	<% if user_signed_in? %>
	<ul class="collection z-depth-1">
		<li class="collection-item">
			<div class="row" style="margin-bottom:0px;">
				<div class="col l3 s4">
					<%= link_to image_tag(current_user.profile.avatar(:thumb), class:"circle responsive-img", style:"max-height:100px;"), profile_path(current_user.profile)%>
				</div>
				<div class="col l9 s8 gray-text">
					<p >
						<b><%= current_user.profile.name %></b>
					</p>
				</div>
			</div>
		</li>
	</ul>

	<!-- if master admin is signed in -->
	<!--if client is signed in-->
	<% elsif client_signed_in? %>
	<ul class="collection z-depth-1">
		<li class="collection-item">
			<div class="row" style="margin-bottom:0px;">
				<div class="col l3 s4">
					<%= link_to image_tag(current_client.clientprofile.avatar(:thumb), class:"circle responsive-img",style:"max-height:100px;"), clientprofile_path(current_client.clientprofile)%>
				</div>
				<div class="col l9 s8 gray-text">
					<p>
						<b><%= current_client.clientprofile.name %></b>
					</p>
				</div>
			</div>
		</li>
	</ul>

	<!-- else show a default item -->
	<% else %>
	<ul class="collection z-depth-1">
		<li class="collection-item">
			<div class="row" style="margin-bottom:0px;">
				<div class="col l3 s4">
					<%= link_to image_tag('icon-user-default.png', class:"circle responsive-img", style:"max-height:100px;"), (new_client_session_path) %>
				</div>
				<div class="col l9 s8 gray-text">
					<p >
						<b>¡Invitado! Inicia seción para disfrutar de todo el contenido de Estelí Live</b>
					</p>
				</div>
			</div>
		</li>
	</ul>

	<% end %>
</div>

<ul class="collection z-depth-1">

	<a href= "<%= wikis_path %>" class="collection-item avatar grey-text text-darken-4">
		<%= icon('map-marker', class:"material-icons circle green") %>
		<span class="title"><b>Esteli</b></span>
		<p>Historia y cultura<br>
			de la ciudad
		</p>
	</a>

	<a href="/categories" class="collection-item avatar grey-text text-darken-4">
		<%= icon('arrows', class:"material-icons circle blue") %>
		<span class="title"><b>Explorar</b></span>
		<p>Lugares, productos<br>
			y servicios
		</p>
	</a>

	<% if user_signed_in? %>
	<a href="<%= edit_user_registration_path %>" class="collection-item avatar grey-text text-darken-4">
		<%= icon('sliders', class:"material-icons circle teal") %>
		<span class="title"> <b>Configuración</b> </span>
		<p>Administrar<br>
			Perfil
		</p>
	</a>
	<!--Premium Tools-->
	<a href="<%= tools_path %>" class="collection-item avatar grey-text text-darken-4">
		<%= icon('cogs', class:"material-icons circle pink") %>
		<span class="title"> <b>Herramientas</b> </span>
		<p>Utilidades Avanzadas<br>
			Encuestas, estadísticas, etc.
		</p>
	</a>

	<% elsif client_signed_in? %>
	<a href="<%= edit_clientprofile_path(current_client.clientprofile) %>" class="collection-item avatar grey-text text-darken-4">
		<%= icon('sliders', class:"material-icons circle teal") %>
		<span class="title"> <b>Configuración</b> </span>
		<p>Administrar<br>
			Perfil
		</p>
	</a>

	<% if is_admin?(current_client) %>
	<a href="<%= admin_panel_path %>" class="collection-item avatar grey-text text-darken-4">
		<%= icon('wrench', class:"material-icons circle pink") %>
		<span class="title"> <b>Panel</b> </span>
		<p>Administrar<br>
			Funciones de Nicaragua Live
		</p>
	</a>
	<% end %>

	<%= link_to(destroy_user_session_path, method: :delete, class:"collection-item avatar grey-text text-darken-4",data: {confirm: '¿Vas a Salir de Nicaragua Live?'}) do %>
	<%= icon('sign-out', class:"material-icons circle red") %>
		<span class="title"> <b>Cerrar Sesión</b> </span>
	<% end %>

	<% else %>
	<a href= "<%= client_session_path %>" class="collection-item avatar grey-text text-darken-4">
		<%= icon('sign-in', class:"material-icons circle pink") %>
		<span class="title"><b>Iniciar Seción</b></span>

	</a>

	<% end %>
</ul>
