<div class="container">
    <br>
    <div class="panel panel-default">
        <div class="panel-header">
        <br>
            <div class="col-lg-3 col-xs-12 col-md-3 center">
                <%= image_tag @clientprofile.avatar(), class:"responsive-img img-circle", style:"max-width:150px;"%>
            </div>

            <div class="col-lg-9 col-xs-12 col-md-9">
                <h2>
                    <b><%= "#{first_name(@clientprofile)} #{last_name(@clientprofile)}" %></b>
                </h2>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="info">Likes</th>
                            <th class="info">Seguidos</th>
                            <th class="info">Puntuación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <%= @clientprofile.user.hearts.count %>
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <div class="panel panel-body" style="margin:2%;">
        <%= if user_signed_in? then link_to("Editar Mi Perfil", edit_clientprofile_path(current_user.clientprofile), class:"btn btn-primary pull-right") end %>

            <div>
                <b>Ubicación:
                </b><%= @clientprofile.ubication %>
            </div>
            <div>
                <p>
                    <b>Biografía:
                    </b><%= @clientprofile.biography %>
                </p>
            </div>
            <% if user_signed_in? %>
            <%= link_to "Editar tu Perfil", edit_clientprofile_path, class:"btn btn-warning"%>
            <% end %>

        </div>
    </div>

    <!--Show my coupons-->
    <% if my_coupons(@clientprofile) %>
    <h5>Mis Cupones</h5>
    <div class="panel panel-default">
        <div class="row">
            <% @coupon_redemptions.each do |coupon| %>
            <div class="col-xs-12 col-lg-4">
                <div class="info-box grey lighten-4">
                    <span class="info-box-icon cyan material-icons white-text">
                        <%= icon("star") %>
                    </span>
                    <div class="info-box-content">
                        <%= coupon.coupon.code %><br>
                        Orden:
                        <b><%= coupon.unique_code %></b>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>

    <!-- Show my likes -->
    <div class="container" style="max-width:700px;">
        <b>Le gustó recientemente</b>
        <%= render @posts %>
    </div>
    <!-- Show my followings -->
    <div class="container" style="max-width:700px;">
        <b>Se suscribió recientemente</b>
        <div class="row">
            <% @profiles.each do |profile| %>
            <%= render partial:'/menus/search/profile', locals:{profile: profile} %>
            <% end %>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

</script>
