<div class="container">
    <div class="card-panel">
        <div class="row card-content">
            <div class="col l3 s12 m3 center">
                <%= image_tag @clientprofile.avatar(), class:"responsive-img circle", style:"max-width:150px;"%>
            </div>

            <div class="col l9 s12 m9">
                <h5>
                    <b><%= "#{first_name(@clientprofile)} #{last_name(@clientprofile)}" %></b>
                </h5>
                <table class="centered">
                    <thead>
                        <tr>
                            <th>Likes</th>
                            <th>Seguidos</th>
                            <th>Puntuación</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <%= @clientprofile.client.hearts.count %>
                            </td>
                            <td>
                                0
                            </td>
                            <td>
                                0
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

        </div>

        <div>
            <b>Ubicación:
            </b><%= @clientprofile.ubication %>
        </div>
        <div>
            <p>
                <b>Biografía:
                </b><%= @clientprofile.biography %>
            </p>
        </div>
        <% if client_signed_in? %>
        <%= link_to "Editar tu Perfil", edit_clientprofile_path, class:"btn green"%>
        <% end %>
    </div>

    <!--Show my coupons-->
    <% if my_coupons(@clientprofile) %>
    <h5>Mis Cupones</h3>
    <div class="card-panel">
        <div class="row">
            <% @coupon_redemptions.each do |coupon| %>
            <div class="col s12 l4">
                <div class="info-box grey lighten-4">
                    <span class="info-box-icon cyan material-icons white-text">
                        <%= icon("star") %>
                    </span>
                    <div class="info-box-content">
                        <%= coupon.coupon.code %><br>
                        Orden:
                        <b><%= coupon.unique_code %></b>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <% end %>
    </div>

    <!-- Show my likes -->
    <div class="row">
        <b class="grey-text darken-4">Le gustó recientemente</b>
        <%= render 'welcome/posts'%>
    </div>
    <!-- Show my followings -->
    <div class="row">
        <b class="grey-text darken-4">Se suscribió recientemente</b>
        <% @profiles.order(created_at: :asc).each do |profile| %>
        <ul class="collection">
            <li class="collection-item">
                <div class="row" style="margin-top:2%;">
                    <div class="col l3 m4 s4">
                        <%= image_tag profile.avatar, class:"responsive-img circle" %>
                    </div>
                    <div class="col l9 m8 s8">
                        <%= link_to profile.name, profile %>
                        <br>
                        <%= profile.body %>
                    </div>
                    <%= div_for profile, class:"right" do %>
                    <%= render partial: "follows/followbtn_client", locals: { profile: profile } %>
                    <% end %>
                </div>

                <div></div>
            </li>
        </ul>
        <% end %>
    </div>
</div>

<script type="text/javascript">
    $('.modal-trigger').leanModal({
        dismissible: true,
        opacity: 0.5,
        in_duration: 300,
        out_duration: 200,
        ready: function () {
            if ($(".lean-overlay").length > 1) {
                $(".lean-overlay:not(:first)").each(function () {
                    $(this).remove();
                });
            }
        },
        complete: function () {
            $(".lean-overlay").each(function () {
                $(this).remove();
            });
        }
    });
</script>
