<div class="container">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Crear una cuenta</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render partial:"devise/shared/errors", locals:{object: @user} %>
    <% if session[:omniauth_errors] %>
    <%= session[:omniauth_errors] %>
    <% end %>

    <div class="form-inputs">
      <%= f.input :name, label:"Nombre" %>
      <%= f.input :last_name, label:"Apellido" %>
      <%= f.input :email, required: true, autofocus: true %>
      <%= f.input :password, label:"Contraseña", required: true, hint: ("#{@minimum_password_length} caracteres como mínimo" if @minimum_password_length) %>
      <%= f.input :password_confirmation, label:"Confirmar Contraseña", required: true %>
    </div>

  <div class="row">
    <div class="col-xs-2">
      <%= f.button :submit, "Crear Cuenta", class:"btn btn-success" %>
    </div>
    <% end %>

    <div class="col-xs-4">
      <%= link_to user_facebook_omniauth_authorize_path, class:"btn btn-block btn-social btn-facebook" do %>
      <span class="fa fa-facebook"></span> Iniciar con Facebook
      <% end %>
    </div>
  </div>


    <%= render "devise/shared/links" %>


  </div>
</div>
