<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @offer_saved.user %>
</p>

<p>
  <strong>Offer:</strong>
  <%= @offer_saved.offer %>
</p>

<%= link_to 'Edit', edit_offer_saved_path(@offer_saved) %> |
<%= link_to 'Back', offer_saveds_path %>
