<div class="row">

<div class="col s4" style="margin-top:1%;">
    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
      ¿No tienes cuenta? <%= link_to "Crear una", new_registration_path(resource_name) %>
    <% end -%>
</div>

<div class="col s4" style="margin-top:1%;">
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "¿Eres una empresa?", new_user_session_path%>
  <% end -%>
</div>

<div class="" style="margin-top:1%;">
  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Recuperar Contraseña", new_password_path(resource_name) %>
  <% end -%>
</div>

<div class="col s12" style="margin-top:1%;">
  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "¿No has recibido las instrucciones de confirmación?", new_confirmation_path(resource_name) %>
  <% end -%>
</div>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "¿No has recibido las instrucciones para desbloquear?", new_unlock_path(resource_name) %>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to "Iniciar sesión con: #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %>
    <% end -%>
  <% end -%>

</div>
