<%= simple_form_for(@movie) do |f| %>
  <%= f.error_notification %>

  <div id="test1" class="col s12">
    <%= f.input :title, label:"Título" %>
    <%= f.input :clasification, label:"Clasificación" %>
    <%= f.input :sinopsis %>
    <%= f.input :trailer, placeholder:"ejem: https://www.youtube.com/watch?v=Ip0JdVTOSkE" %>
    <%= f.input :cover, as: :file %>
  </div>

  <div id="test2" class="col s12">
    <%= f.input :date_from, label:"Disponible desde", as: :date,html5: true, input_html: {class:"datepicker"} %>
    <%= f.input :date_until, label:"Disponible hasta", as: :date,html5: true, input_html: {class:"datepicker"} %>
    <%= f.input :times, label:"Horarios y Salas" %>
  </div>

  <%= f.button :submit, label:"Publicar Película" %>
<% end %>
