  <div class="parallax-container">
    <div class="parallax"><%= image_tag(@movie.cover) %></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header"><%= @movie.title %></h2>
      <strong>Estreno: </strong><%= movie_date(@movie.date_from) %> <br>
      <strong>Horarios</strong><br>
      <%= @movie.times %><br>
      
      <strong>Trailer</strong><br>
      <%= youtube_video(@movie.trailer) %>

      <p class="grey-text text-darken-3 lighten-3">
        <strong>Sinopsis:</strong><br>
        <%= @movie.sinopsis %>
      </p>

    </div>
  </div>

  <script>
    $(document).ready(function(){
      $('.parallax').parallax();
    });
  </script>