
<div class="container coupon-box">
<div class="info-box coupon-box">
    <span class="info-box-icon indigo lighthen-4">
        <b class="coupon-amount"><%= coupon.amount %>%</b>
    </span>
    <div class="info-box-content with-top">
        <%= coupon.description %>
    </div>
</div>
    <div class="flex-row center-xs collection">
    	<div class="col-xs-4"><b>Código</b><br><%= redeem_code(coupon) %></div>
    	<div class="col-xs-4"><b>Válido hasta</b><br><%= coupon.valid_until %></div>
    	 <div class="col-xs-4"><b>Estado</b><br><%= is_valid?(coupon) %></div>
    </div>
</div>