<%= simple_form_for @coupon do |f| %>
<div class="row">
	<div class="col-xs-6">
		<%= f.input :code, label:"Código" %>
	</div>
	<div class="col-xs-6">
		<%= f.input :description, label:"Descripción" %>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<%= f.input :amount, label: "Cantidad de descuento(porciento)", input_html: { min: '1', max:'100', step: 'any' }  %>
	</div>
	<div class="col-xs-6">
		<%= f.input :redemption_limit, label: "Máximo de reclamos(0 = Infinitos)", input_html: { min: '0', step: 'any' }  %>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<%= f.input :valid_from, label: "Válido desde", as: :date,html5: true, input_html: {class:"datepicker"}%>
	</div>
	<div class="col-xs-6">
    <%= f.input :valid_until, label: "Válido hasta", as: :date,html5: true, input_html: {class:"datepicker"}%>
	</div>
</div>
    <%= f.button :submit %>
<% end %>
