<div class="page-header">
	<h4>Cupones de descuento</h4>
</div>
<% if user_signed_in? %>
<% if @user_coupons.present? %>
<%= render @user_coupons %>
<% end %>

<div>
	<% @coupons.each do |coupon| %>
	<%= coupon.code %>
		
		<div class="row">
			<div class="col-xs-3">
				<%= coupon.amount %>
			</div>
			<div class="col-xs-9">
				<%= coupon.description %>
				<%= link_to("Reclamar", redeem_path(coupon_id: coupon.id) , method: :post) %>
			</div>
		</div>

	<% end %>
<% end %>
</div>
