<div id="owl-promo" class="owl-carousel">
    <% if promoved_profiles.present? %>
    <% promoved_profiles.each do |profile| %>
    <div class="col-xs-12">
        <div class="thumbnail">
            <%= link_to image_tag(profile.avatar(), class:"promo-img responsive-img"), profile %>
            <div class="caption center">
                <b><%= profile.name %> <%= veryfied?(profile) %> </b>
                <br>
                <div class="star-rating" data-score=<%= profile.reviews.average(:rating) %>></div>
                <em><%= "#{profile.reviews.length} valoraciones" %></em><br>
                <p>
                    <%= truncate(profile.body ) %><br>
                    <b>Dirección:
                    </b><%= profile.direccion %>
                    <div class="row center">
                        <%= div_for(profile, class:"col-xs-6") do %><%= render partial:'follows/followbtn_small',locals:{profile: profile} %>
                        <% end %>
                        <div class="col-xs-6"><%= link_to 'Ver Más', profile_path(profile), class:"btn btn-primary" %>
                        </div>
                    </div>
                </p>
            </div>
        </div>
    </div>
    <% end %>
    <% else %>
    <div class="alert-alert-warning">No hay contenido para mostrar</div>
    <% end %>
</div>


