<div class="intro-header">
  <div class="intro-message">
    <h2>Nicaragua Live</h2>
    <h3>Encuentra las mejores ofertas en el país</h3>
    <hr class="intro-divider">
    <ul class="list-inline">
    <li><%= link_to 'Ver ofertas', '#', class:"btn btn-default" %></li>
    <%= welcome_buttons %>
  </div>
</div>
<div class="container">
  <!--Tarjetas-->
  <div class="page-header center"><h4><b>Recomendados</b></h4></div>
  
  <%= render partial:'promo_profiles', locals:{promoved_profiles: @promoved_profiles} %>

</div>

<div class="container">
<div class="page-header center"><h4><b>Ofertas recientes</b></h4></div>
  <div class="owl-carousel owl-theme">
    <%= render @coupons %>
  </div>
</div>

<div class="container" >
  <% if user_signed_in? %>
  <div class="page-header center"><h4><b>Publicaciones</b></h4></div>
  
  <div id="owl-post" class="owl-carousel">
    <%= render @posts %>
  </div>

  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @posts, container: false %>
    </div>
  </ul>
</div>

<% else %>
<div class="page-header center"><h4><b>Tendencias</b></h4></div>
<div class="center-block">

  <div id="owl-post" class="owl-carousel">
    <%= render @posts.sort_by { |post| post.hearts.count }.reverse %>
  </div>

  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @posts, container: false %>
    </div>
  </ul>
</div>

</div>
<% end %>
</div>

<div class="container">
<div class="page-header center"><h4><b>Comentarios recientes</b></h4></div>
  <div class="owl-carousel" id="owl-comments">
    <% @comments.each do |comment| %>
    <div class="col-xs-12">
      <%= render partial:"comments/comment_welcome", locals:{comment: comment} %>  
    </div>
    <% end %>
  </div>
  
  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @comments, container: false %>
    </div>
  </ul>
</div>
</div>

<script>
  $("img.lazy").lazyload({
    threshold : 200
  });

$('.owl-carousel').owlCarousel({
    loop:true,
    margin:10,
    nav:true,
    responsive:{
        0:{
            items:1
        },
        600:{
            items:3
        },
        1000:{
            items:3
        }
    }
})

</script>
