<div class="container">
  <!--Tarjetas-->
  <div class="alert alert-info"><h4>Recomendados</h4></div>
  <%= render partial:'promo_profiles', locals:{promoved_profiles: @promoved_profiles} %>
</div>

<div class="container" style="max-width:700px;">
  <% if client_signed_in? or user_signed_in? %>
  <div class="alert alert-info"><h4>Inicio</h4></div>
  <%= render @posts %>

  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @posts, container: false %>
    </div>
  </ul>
</div>

<% else %>
<div class="alert alert-info"><h4>Tendencias</h4></div>
<div class="center-block">
  <%= render @posts.sort_by { |post| post.hearts.count }.reverse %>

  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @posts, container: false %>
    </div>
  </ul>
</div>

</div>
<% end %>
</div>

<div class="container" style="max-width:700px;">
  <div class="alert alert-info"><h4>Comentarios recientes</h4></div>
  <%= render @comments %>
  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
    <%= will_paginate @comments, container: false %>
    </div>
  </ul>
</div>
</div>

</div>
