<div class="container">
  <!--Tarjetas-->
  <h4>Recomendados</h4>
  <%= render 'promo_profiles' %>
</div>

<div class="container" style="max-width:700px;">
  <% if client_signed_in? or user_signed_in? %>
  <h4>Inicio</h4>
  <%= render @posts %>

  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @posts, container: false %>
    </div>
  </ul>
</div>

<% else %>
<h4>Tendencias</h4>
<div class="center-block">
  <%= render @posts.sort_by { |post| post.hearts.count }.reverse %>

  <div class="center">
   <ul class="pagination center">
    <div class="apple_pagination">
      <%= will_paginate @posts, container: false %>
    </div>
  </ul>
</div>

</div>
<% end %>
</div>

<div class="container" style="max-width:700px;">
  <h4>Comentarios recientes</h4>
  <%= render @comments %>
  <%= will_paginate @comments %>
</div>

</div>
