<div class="container">
<%= image_tag @event.cover.url, class:"responsive-img centered" %>

      <h4><%= @event.title %></h4>
      <i class="material-icons">date_range</i><%= @event.date.strftime("%A %-d %B, %Y")%><br>
      <i class="material-icons">alarm</i><%= @event.time.strftime("%I:%M %p") %>

    <p>
      <%= markdown(@event.description) %><br>
    </p>
<table>
  <th class="center">
    <b>Confirmados</b>
  </th>
  <th class="center">
    <b>Pendientes</b>
  </th>
<tbody>
  <td class="center">
    1
  </td>
  <td class="center">
    2
  </td>
</tbody>
</table>

<div>

  <b> <%= @event.event_comments.count %> Comentarios</b>
  <div class="row">
    <% if client_signed_in? or user_signed_in? %>
      <%= render '/event_comments/form' %>
      <% else %>
        <%= link_to "Inicia sesión", new_client_session_path %> para dejar un comentario
    <% end %>
  </div>
        <% @event.event_comments.each do |comment| %>

          <div class="collection z-depth-1">
            <div class="collection-item">
              <% if comment.client_id <=> nil %>
              <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= comment.user.profile.avatar.url(:mini) %>" alt="img" class="circle responsive-img">
              <b><%= link_to comment.user.profile.name, comment.user.profile %></b>


              <% elsif comment.user_id <=> nil %>
              <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= comment.client.clientprofile.avatar.url(:mini) %>" alt="img" class="circle responsive-img">
              <b><%= link_to comment.client.clientprofile.name, comment.client.clientprofile %></b>

              <% end %>
              <!--If client is the owner of the comment cant delete it-->
              <% if client_signed_in? %>
                <% if comment.client_id = current_client.id %>

                  <%= link_to [comment.event, comment], method: :delete, data: { confirm: '¿Borrar tu comentario?' }, class:"right" do%>
                    <i class="red-text material-icons">delete</i>
                    <% end %>

                <% end %>
              <% elsif user_signed_in? %>
                <% if comment.user_id = current_user.id %>

                  <%= link_to [comment.event, comment], method: :delete, data: { confirm: '¿Borrar tu comentario?' }, class:"right" do%>
                      <i class="red-text material-icons">delete</i>
                    <% end %>

                <% end %>

              <!--If client is the owner of the comment cant delete it-->

              <% end %>
            </div>
            <div class="collection-item">
              <p>
                <%= comment.body %>
              </p>
            </div>
          </div>


        <% end %>
      </div>
</div>
