  <div class="container grey-text darken-4">
    <h5 class="center">Iniciar Sesión</h5>
<% if session_path(resource) == "/users/sign_in" %>
    <p>
      Inicia seción como una empresa o negocio.
    </p>
  <% end %>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label 'Correo' %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label "Contraseña" %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <p>
          <%= f.check_box :remember_me, id:"check_box1"%>
          <%= f.label "Recordar Contraseña", for:"check_box1" %>
        </p>
      <% end %>


      <div style="margin-top:5%" class="actions">
        <button class="btn-large teal darken-2">
            Iniciar Sesión
          <%f.submit "Log in" %>
        </button>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
