<%= simple_form_for(@offer) do |f| %>
  <% if @offer.errors.any? %>
    <div id="error_explanation" class="red-text">
      <b><%= pluralize(@offer.errors.count, "error") %>- No se puede guardar:</b>

      <ul>
      <% @offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :titulo, label:"Título" %>
<%= f.input :descripcion, label:"Descripción" %>
<div class="row">
  <div class="col-md-6 col-sm-12">
    <%= f.input :precio, label:"Precio" %>
  </div>
  <div class="col-md-6 col-sm-12">
  <%= f.label "Tipo de Moneda" %> <br>
    <%= f.radio_button :cordoba, true, checked: true %>
    <%= f.label :cordoba_true, "Cordobas (C$)"%>

    <%= f.radio_button :cordoba, false %>
    <%= f.label :cordoba_false, "Dólares ($)"%>
  </div>
  <br>
<%= f.input :image, label:"Imagen", as: :file %>

<%= f.submit "Guardar", class:"btn btn-lg btn-success pull-right" %>

</div>
<% end %>
