<div class="row">

  <p id="notice"><%= notice %></p>

<div class="container white-text">
    <h5>Ofertas</h5>
</div>

  <% @offers.each do |offer| %>

<div class="col s6">
  <ul class="collection">
    <li class="collection-item">
      <b><%= offer.titulo %></b>
      <img src="<%= offer.image.url %>" alt="" class="responsive-img materialboxed" />
    </li>
    <li class="collection-item">
      <%= offer.descripcion %>
    </li>

    <li class="collection-item blue-text">
      <% if offer.cordoba == true %>
        C$:
        <% else %>
          $:
          <% end %>
      <%= offer.precio %>
    </li>
  </ul>
</div>

  <% end %>

</div>
