<div class="container">
  <%= form_tag(offers_path, :method => "get", id: "search-form") do %>
    <h5 class="white-text">Buscar</h5>
    <br>
    <%= number_field_tag :search, params[:search], placeholder: "Buscar por precio",class:"white-text", style:"max-width: 130px;" %>

    <%= submit_tag "Buscar", class:"btn red" %>
  <% end %>
</div>

<% if @offers.present? %>
  <%= render 'offerts' %>
<% else %>
  <p class="white-text">No hay resultados para el precio: <%= params[:search] %>.</p>
<% end %>
