<div class="container">

  <%= form_tag(offers_path, :method => "get", id: "search-form") do %>
    <h5 class="grey-text darken-4">Buscar</h5>
    <p class="grey-text darken-4">
      Busca productos o servicios segun tu presupuesto.
    </p>
    <%= number_field_tag :search, params[:search], placeholder: "Buscar por precio",class:"grey-text darken-4", style:"max-width: 130px;" %>
    <%= submit_tag "Buscar", class:"btn red" %>
  <% end %>
</div>

<% if @offers.present? %>
  <%= render 'offerts' %>
<% else %>
  <p class="grey-text darken-4">No hay resultados para el precio: <%= params[:search] %>.</p>
<% end %>
