<div class="container">
  <%= form_tag(search_path, method: "get", id: "search-form") do %>
    <%= text_field_tag :query, params[:query], placeholder: "Buscar ejem:'Comida C$200'",class:"form-control"%>
    <%= submit_tag "Buscar", class:"btn btn-default" %>
  <% end %>

<% if @offers.present? %>
  <%= @offers.each do |offer| %><% end %>
<% else %>
  <p class="grey-text darken-4">No hay resultados para: <em><%= params[:query] %></em>.</p>
<% end %>
<ul class="pagination">
 <div class="apple_pagination">
     <%= will_paginate @offers, container: false %>
   </div>
</ul>
</div>
