<div class="container">
	<div class="center">
		<%= image_tag(@offer.image, class:"responsive-img") %>
		<div class="page-header"><h3><b><%= @offer.titulo %></b></h3></div>
	</div>
	<div>
		<p><%= markdown(@offer.descripcion) %></p>
		<p><b>Precio:</b> <%= precio(@offer) %> </p>
		<p><b>Anunciante: </b><%= link_to @offer.profile.name, @offer.profile %></p>
	</div>
	<hr>
	<div class="center">
		<div id="offer">
			<%= render partial:'offer_saveds/save_btn', locals:{offer: @offer} %>
		</div>
		<div class="aler aler info">
			<h4><%= fav_counter(@offer) %></h4>
		</div>
	</div>
	<hr>
</div>
