<%= simple_form_for(@item,:html => {:multipart => true}) do |f| %>
<% if @item.errors.any? %>
<div id="error_explanation">
  <h5 class="red-text"><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h5>

  <ul class="red-text lighten-2">
    <% @item.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= f.label :market_id, "Categoría" %> <br>
<%= f.select :market_id, options_from_collection_for_select(Market.all, :id, :title) %>

<%= f.input :titulo, label:"Título" %>
<%= f.input :descripcion, label:"Decipción del producto" %>

<%= f.input :precio%>
<%= f.radio_button :moneda, "cordoba", class:"with-gap"%>
<%= f.label :moneda_cordoba, "Cordobas (C$)", class:"grey-text lighten-2"%>

<%= f.radio_button :moneda, "dolar", class:"with-gap" %>
<%= f.label :moneda_dolar, "Dólares ($)", class:"grey-text lighten-2"%>

<%= f.input :ubicacion, label:"Ubicación" %>

<p>
  <%= f.label :estado %> <br>
  <%= f.select :estado, (['Nuevo', 'Usado']),{include_blank: 'Sin especificar'} %>
</p>

<p><b>*Imágenes del producto(Una como mínimo)</b></p>
<%= file_field_tag "images[]", type: :image, multiple: true %>

<div class="page-header"><h3>Datos de contacto</h3></div>
<div class="panel panel-default">
  <div class="panel-body">
    <%= f.input :nombre %>
    <%= f.input :telefono %>
    <%= f.input :email %>
  </div>
</div>

<p>
  <%= f.submit "Publicar", class:"btn btn-lg btn-success" %>
</p>
<% end %>
