<div class="col-xs-6 col-md-4">
	<div class="panel <%= state(todo) %>">
		<div class="panel-heading"> <%= todo.title %> 
			<% if todo.state == 'Close' %>
			<%= icon('check') %>
			<% else %>
			<%= icon('exclamation-triangle') %>
			<% end %>
			<!-- Single button -->
			<div class="btn-group pull-right">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Acción <span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<%= link_to 'Marcar como Cerrado', todo_path(id: todo.id, 'todo[state]'=> 'Close'), method: :put %>
					</li>
					<li>						
					<%= link_to 'Marcar como Abierto', todo_path(id: todo.id, 'todo[state]'=> 'Open'), method: :put %>
					</li>
				</ul>
			</div>
		</div>
		<div class="panel-body">
			<b>Estado: </b><% if todo.state == 'Open' %>
				Pendiente
				<% else %>
				Cerrado
			<% end %>
			<br>
			<% if todo.body.present? %>
			<%= todo.body %>
			<% else %>
			<%= link_to "Agregar una descipción de la tarea", edit_todo_path(todo) %>
			<% end %>
		</div>
	</div>
</div>