<%= simple_form_for(@post, html: {multipart: true}) do |f| %>
  <%= f.input :body, label:"Descripción", as: :text %>
  <p>
    <%= file_field_tag "images[]", type: :image, multiple: true %>
  </p>
  <p>
    Agrega un video(Opcional)
  </p>
  <%= f.input :video, placeholder:"URL del video de YouTube" %>

  <%= f.submit "Publicar", class:"btn btn-lg btn-success" %>
<% end %>