<div class="col-xs-12">
  <% color ||= 'primary' %>
  <div class="panel panel-<%= color %>">
    <div class="panel-heading">
      <img style="vertical-align: middle; margin-left:2%;" src="<%= post.profile.avatar.url(:thumb) %>" alt="img" class="img-circle avatar_profile">
      <b class="panel-title"><%= link_to post.profile.name, post.profile %></b>

      <!--Acciones para los posts-->
      <%= render partial:"posts/post_actions", locals:{post:post} %>

    </div>

    <div class="panel-body">
      <p class="responsive-text">
        <%= truncate(post.body, length: 140) { link_to "Ver más", post_path(post) } %>
      </p>
      <% if post.pictures.count > 1 %>
      <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
        <% post.pictures.each do |pic| %>
        <a href="<%= pic.image.url() %>"><img src="<%= pic.image.url(:thumb)%>"></a>
        <% end %>
      </div>
      <% else %>
      <% post.pictures.each do |pic| %>
      <%= image_tag(pic.image.url, class:"responsive-img center-block lazyOwl", lazy: true)%>
      <% end %>

      <% end %>

      <%= show_video(post) %>

    </div>

    <div class="panel-footer">
      <div class="row center">
        <%= div_for(post, class: "col-xs-4 center-block") do %>
        <%= render partial: "hearts/button", locals: {post: post} %>
        <% end %>
        <div class="col-xs-4 center-block">
          <%= link_to post do %>
          <%= icon('comments',style:'font-size:2rem;',class:"btn" ) %>
          <% end %>
        </div>
        <div class="col-xs-4 center-block">

          <div class="dropup">
          <button class="btn" type="button" id="dropdownMenu<%= post.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= icon('share-alt',style:'font-size:2rem;') %>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu<%= post.id %>">
              <%= social_share_button_tag(post.title, image: post.pictures.first, desc: truncate(post.body,length:125), via: "NicaLiveApp", url: post_url(post))%>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
