  <ul class="collection z-depth-2">
    <li class="collection-item row">
      <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= post.profile.avatar.url(:thumb) %>" alt="" class="circle responsive-img">
      <b><%= link_to post.profile.name, post.profile %></b>

      <!--Acciones para los posts-->
      <div class="right actions-post">
        <%= post_edit(post) %>
        <%= post_delete(post) %>
      </div>

    </li>

    <li class="collection-item">
      <p class="responsive-text">
        <%= truncate(post.body, length: 140) { link_to "Ver más", post_path(post) } %>
      </p>
      <% if post.pictures.count > 1 %>
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
            <% post.pictures.each do |pic| %>
              <a href="<%= pic.image.url() %>"><img src="<%= pic.image.url(:thumb)%>"></a>
            <% end %>
        </div>
        <% else %>
        <% post.pictures.each do |pic| %>
        <div class="center">
          <%= image_tag(pic.image.url, class:"responsive-img", lazy: true)%>
        </div>
          <% end %>
      <% end %>

      <%= show_video(post) %>

    </li>

      <div class="row" style="margin-bottom: 6px;">
        <%= div_for(post, class: "col s4 center") do %>
            <%= render partial: "hearts/button", locals: {post: post} %>
        <% end %>
          <div class="col s4 center">
            <%= link_to post do %>
              <%= icon('comments',style:'font-size:2.5rem;') %>
            <% end %>
          </div>
          <div class="col s4 center">
            <%= icon('share-alt',style:'font-size:2.5rem;') %>
          </div>
        </div>
   </ul>
   <link href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
