  <ul class="collection z-depth-2">
    <li class="collection-item row">
      <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= post.profile.avatar.url(:thumb) %>" alt="" class="circle responsive-img">
      <b><%= link_to post.profile.name, post.profile %></b>

      <% if user_signed_in? %>
          <% if current_user.id == post.profile.user_id %>
            <%= link_to post, method: :delete, data: { confirm: '¿Borrar tu publicación?' }, class:"right" do%>
              <i class="material-icons">delete</i>
            <% end %>

            <%= link_to edit_post_path(post), class:"right" do%>
              <i class="material-icons">mode_edit</i>
            <% end %>
          <% end %>
      <% end %>

    </li>

    <li class="collection-item">
      <p class="responsive-text">
        <%= truncate(post.body, length: 140) { link_to "Ver más", post_path(post) } %>
      </p>
      <% if post.pictures.count > 1 %>
        <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
            <% post.pictures.each do |pic| %>
              <a href="<%= pic.image.url() %>"><img src="<%= pic.image.url(:thumb)%>"></a>
            <% end %>
        </div>
        <% else %>
        <% post.pictures.each do |pic| %>
        <div class="center">
          <%= image_tag(pic.image, class:"responsive-img")%>
        </div>
          <% end %>
      <% end %>

      <% if post.video.present? || post.video =! ""%>
          <% if post.pictures.count < 1 %>
            <%= youtube_video post.video %>
            <% else %>
            Ver video: <a href="<%= post.video%>"><%= post.video %></a>
          <% end %>
      <% end %>

    </li>

      <div class="row" style="margin-bottom: 6px;">
        <%= div_for(post, class: "col s4 center") do %>
            <%= render partial: "hearts/button", locals: {post: post} %>
            <%= show_likes post %>
          <% end %>
          <div class="col s4 center">
            <%= link_to post do %>
              <i class="material-icons like-text" style="font-size:2.5rem">forum</i>
            <% end %>
          </div>
          <div class="col s4 center">
            <i class="material-icons like-text" style="font-size:2.5rem">share</i>
          </div>
        </div>
   </ul>
   <link href="//cdnjs.cloudflare.com/ajax/libs/fotorama/4.6.4/fotorama.css" rel="stylesheet">
