<div class="container">

    <ul class="collection z-depth-2">
        <li class="collection-item row">
            <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= @post.profile.avatar.url(:mini) %>" alt="" class="circle responsive-img">
            <b><%= link_to @post.profile.name, @post.profile %></b>

        </li>

        <li class="collection-item">
            <% if @post.pictures.count > 1 %>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
                <% @post.pictures.each do |pic| %>
                <a href="<%= pic.image.url() %>"><img src="<%= pic.image.url(:thumb)%>"></a>
                <% end %>
            </div>
        <% else %>
            <% @post.pictures.each do |pic| %>
            <div class="center">
                <%= image_tag(pic.image, class:"responsive-img")%>
            </div>
            <% end %>
            <% end %>
            <% if @post.video.present? || @post.video =! ""%>
            <%= youtube_video @post.video %>
            <% end %>

            <p class="responsive-text">
                <%= markdown(@post.body) %>
            </p>
        </li>

        <div id="coments_field">
            <%= render partial:"posts/comments" %>
        </div>

    </ul>

</div>
