<div class="container">

    <div class="panel panel-default">
        <div class="panel-heading">
            <img style="vertical-align: middle; margin-left:2%; max-width:50px;" src="<%= @post.profile.avatar.url(:thumb) %>" alt="" class="circle responsive-img">
            <b><%= link_to @post.profile.name, @post.profile %></b>

        </div>

        <div class="panel-body">
            <% if @post.pictures.count > 1 %>
            <div class="fotorama" data-nav="thumbs" data-allowfullscreen="true">
                <% @post.pictures.each do |pic| %>
                <a href="<%= pic.image.url() %>"><img src="<%= pic.image.url(:thumb)%>"></a>
                <% end %>
            </div>
            <% else %>
            <% @post.pictures.each do |pic| %>
            <div class="center">
                <%= image_tag(pic.image, class:"responsive-img")%>
            </div>
            <% end %>
            <% end %>
            <% if @post.video.present? || @post.video =! ""%>
            <%= youtube_video @post.video %>
            <% end %>

            <p class="responsive-text">
                <%= markdown(@post.body) %>
            </p>
        </div>

        <div class="panel-footer" id="coments_field">
            <%= social_share_button_tag(@post.title, image: @post.pictures.first, desc: truncate(@post.body,length:125), via: "NicaLiveApp", url: post_url(@post))%>
            <%= render partial:"posts/comments" %>
        </div>

    </div>

</div>
