<div class="container">
    <div class="grey-text darken-4">

        <h5>Anuncios Clasificados</h5>

        <%= form_tag(profiles_path, method: "get", id: "search-form") do %>
          <b><em>¿Que desea encontrar?</em></b><br>
          <%= text_field_tag :query, params[:query], placeholder: "Buscar...",class:"grey-text darken-4", style:"max-width: 60%;" %>
          <%= submit_tag "Buscar", class:"btn red" %>
        <% end %>

        <ul class="collection z-depth-1">
            <% @markets.each do |market| %>
            <a href="<%= market_path(market) %>" class="collection-item  blue-grey-text darken-4">
                    <%= icon(market.icon,style:'font-size:2rem;') %>
                <%= market.title %>
            </a>
            <% end %>
        </ul>

    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to new_item_path, class:"btn-floating btn-large red" do%>
    <i class="large material-icons">mode_edit</i>
    <% end %>
</div>
