<div class="container">
    <div class="grey-text darken-4">

        <div class="page-header"><h4>Anuncios Clasificados</h4></div>

        <div class="form-group">
            <%= form_tag(profiles_path, method: "get", id: "search-form") do %>
            <b><em>¿Que desea encontrar?</em></b><br>
            <%= text_field_tag :query, params[:query], placeholder: "Buscar...",class:"grey-text darken-4", style:"max-width: 60%;" %>
            <%= submit_tag "Buscar", class:"btn red" %>
            <% end %>
        </div>
        
        <b>Categorías</b>
        <div class="list-group">
            <% @markets.each do |market| %>
            <a href="<%= market_path(market) %>" class="list-group-item">
                <%= icon(market.icon,style:'font-size:2rem;') %>
                <%= market.title %>
            </a>
            <% end %>
        </div>

    </div>
</div>

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <%= link_to new_item_path, class:"btn-floating btn-large red" do%>
    <%= icon('pencil') %>
    <% end %>
</div>
