<div class="container">
<h5><%= @market.title %></h5>
  <% unless @market.items.any? %>
    <div class="center">
      <h4>¡Vaya!</h4>
      <em>Parece que aun no hay artículos en esta categoría.</em><br>
      <%= image_tag('sales.gif') %><br>
      <div style="margin-top:5%">
        <%= link_to "Publicar el primero", new_item_path, class:"btn green" %>
      </div>
    </div>
  <% end %>
  <% @market.items.each do  |item | %>
      <div  class="card row z-depth-1">
        <div class="col s5">
          <% item.pictures.limit(1).each do |pic| %>
            <%=link_to image_tag(pic.image, class:"responsive-img"), item%>
            <% end %>
        </div>
        <div class="col s7">
          <b><%= item.titulo %></b> <br>
          <b>Precio: </b>
          <% if item.precio == 'cordoba' %>
            C$
          <% else %>
            $
            <% end %>
                <%= item.precio %>
                <br>
          <b>Ubicación: </b><%= item.ubicacion %>
        </div>
      </div>
  <% end %>

</div>
