<div class="grey-text darken-4 container">

<p id="notice"><%= notice %></p>


<h5>Lista de Categorías</h5>

      <ul class="collection z-depth-1">
        <% @categories.each do |category| %>
		<a href="<%= category_path(category) %>" class="collection-item  blue-grey-text darken-4">
			<i class="material-icons">
				<%= category.icon %>
			</i> <%= category.name %>


		</a>

        <% end %>
      </ul>

<% if master_admin_signed_in? %>
  <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 45px; right: 24px;">
  	<a href="<%= new_category_path %>" class="btn-floating waves-effect btn-large red"><i class="material-icons">add</i></a>
  </div>

<% end %>
</div>
