<div class="container">
<div class="page-header"><h4>Descubrir</h4></div>

    <%= form_tag(profiles_path, method: "get", id: "search-form") do %>
    <h5 class="grey-text darken-4">Buscar</h5>
    <%= text_field_tag :query, params[:query], placeholder: "Buscar...",class:"grey-text darken-4", style:"max-width: 50%;" %>
    <%= submit_tag "Buscar", class:"btn red" %>
    <% end %>
    <p id="notice"><%= notice %></p>

    <h5>Categorías</h5>

    <div class="list-group">
        <% @categories.each do |category| %>
        <a href="<%= category_path(category) %>" class="list-group-item">
            <%= icon(category.icon,style:'font-size:2rem;') %>
            <%= category.name %>
        </a>
        <% end %>
    </div>
    <div>
        <%= render partial:'/welcome/promo_profiles', locals:{promoved_profiles: @promoved_profiles} %>
    </div>
</div>
<script>
    $('.star-rating').raty({

        readOnly: true,
        score: function () {
            return $(this).attr('data-score');
        }
    });
</script>
