<div class="container">
<div class="center">
  <h2>Lista de cambios</h2>
  <h4>Versión: <%= @release.version  %></h4>
  <p>
    <%= human_date(@release.created_at) %>
  </p>
</div>
  <br>
  <div class="panel-box">
    <div class="box-header">
      <%= @release.description %>
    </div>
    <%= markdown(@release.changelog) %>
  </div>
  <%= link_to "Volver", releases_path %>
</div>
