<div style="max-height: 270px;">

<!-- if user is signed in-->
	<% if user_signed_in? %>
			<%= image_tag current_user.profile.cover(:card), class:"cover-img responsive-img" %>
			<span class="profile-img">
				<%= image_tag current_user.profile.avatar(:mini), class:"circle", size:"74" %>
			</span>

<!-- if master admin is signed in -->
		<% elsif master_admin_signed_in? %>
			<%= image_tag "no_cover.jpg", class:"responsive-img" %>
			<span class="profile-img">
				<%= image_tag "unknown_user.png", class:"circle", size:"64" %>
			</span>

<!-- else show a default item -->
		<% else %>
				<%= image_tag "no_cover.jpg", class:"responsive-img" %>
				<span class="profile-img">
					<%= image_tag "unknown_user.png", class:"circle", size:"64" %>
				</span>

	<% end %>
</div>

  <ul class="collection ">

		<a href="/" class="collection-item avatar grey-text text-darken-4">
			<i class="material-icons circle green">location_city</i>
			<span class="title">Esteli</span>
			<p>Historia y cultura<br>
				de la ciudad
			</p>
		</a>

		<a href="/categories" class="collection-item avatar grey-text text-darken-4">
			<i class="material-icons circle blue">navigation</i>
			<span class="title">Explorar</span>
			<p>Lugares, productos<br>
				y servicios
			</p>
		</a>

		<a href="/categories" class="collection-item avatar grey-text text-darken-4">
			<i class="material-icons circle orange">collections</i>
			<span class="title">Noticias</span>
			<p>Información actual
			</p>
		</a>

		<a href="/categories" class="collection-item avatar grey-text text-darken-4">
			<i class="material-icons circle teal">collections</i>
			<span class="title">Galerías</span>
			<p>Fotos<br>
				Videos
			</p>
		</a>

<% if user_signed_in? %>
	<a href="<%= edit_user_registration_path %>" class="collection-item avatar grey-text text-darken-4">
		<i class="material-icons circle cyan">face</i>
		<span class="title"> <%= current_user.profile.name %> </span>
		<p>Administrar<br>
			Perfil
		</p>
	</a>

<% else %>
				<a href= "" class="collection-item avatar grey-text text-darken-4">
					<i class="material-icons circle red">verified_user</i>
					<span class="title">Iniciar Seción</span>

				</a>

<% end %>
	      <% if master_admin_signed_in? %>
          <a href="/panels/">Panel</a>
          <% end %>
  </ul>
