<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Liveapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>

<div class="navbar-fixed">
  <nav class="blue darken-4">
    <div class="nav-wrapper">
      <!---a href="/" class="brand-logo">Esteli Live</a--->
      <a href="/menus" class="button-collapse"><i class="material-icons">menu</i></a>
      <div class="row center">
        <a href="/" class="col s2"><i class="material-icons icon-navbar">home</i></a>
        <a href="#" class="col s2"><i class="material-icons icon-navbar">notifications <!--span class="badge1">1</span--></i></a>
        <a href= "/categories" class="col s2"><i class="material-icons icon-navbar">explore</i></a>
        <a href="<% link_to root_path %>" class="col s2"><i class="material-icons icon-navbar">favorite</i></a>
        <a href="<% link_to root_path %>" class="col s2"><i class="material-icons icon-navbar">search</i></a>
      </div>

      <ul class="right hide-on-med-and-down">


      </ul>
      <ul class="side-nav" id="mobile-demo">
          <%= render "/layouts/lateral_bar" %>

      </ul>
    </div>
  </nav>
</div>

</header>
<body>



<% if notice %>
  <script type="text/javascript">
  var $toastContent = $('<span> <i class="material-icons">warning</i> <%= notice %></span>');
  Materialize.toast($toastContent, 8000);
  </script>
<% end %>
  <%= yield%>

</body>

  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.5&appId=948281051916519";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
</html>
