<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'nica-logo.gif' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Nicaragua Live</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/025c4aeae8.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="yJ5C5gpFv43Wcqxgl6z9wANka2YjJPNNP9Nt5oTreZY" />
</head>

<header>

  <!-- Navigation bar -->
  <nav class="sidenav" style="margin-top: 50px;" data-sidenav data-sidenav-toggle="#sidenav-toggle">
    <%= render 'welcome/user_tabs' %>
    <div class="sidenav-header">
      <%= form_tag(search_path, method: "get", remote: false, id: "search-form") do %>
      <%= text_field_tag :query, params[:query], placeholder: "Buscar...",class:"form", style:"max-width: 100%;" %>
      <%= submit_tag "Buscar", class:"btn btn-small" %>
      <% end %>
    </div>

  </nav>
  <!-- Navigation bar -->

</header>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a href="javascript:;" class="toggle navbar-brand" id="sidenav-toggle">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      </a>
      <div class="center">
       <%= link_to(image_tag('logo-black-simple-text.png', alt:"Nicaragua Live"), root_path, class:"navbar-brand-logo") %>
     </div>

   </div>
 </nav>


 <% if notice %>
 <div class="alert alert-danger alert-dismissible navbar-fixed-top" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= notice %>
</div>
<% end %>

<%= yield%>

<a href="#" class="back-to-top center"><%= icon('chevron-up') %></a>



</body>

<div id="fb-root"></div>
<script>
  $("img.lazy").lazyload({
    effect : "fadeIn"
  });
  $('.star-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });

  $('[data-sidenav]').sidenav();
</script>
</html>

