<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'nica-logo.gif' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Nicaragua Live</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/025c4aeae8.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="yJ5C5gpFv43Wcqxgl6z9wANka2YjJPNNP9Nt5oTreZY" />
</head>

<header>

  <nav id="bootstrap-menu" class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Navegación</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><b>Live</b></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">Inicio</a></li>
          <li><%= link_to("Descubrir", categories_path) %></li>
          <li><%= link_to("Anuncios Clasificados", markets_path) %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Opciones <span class="caret"></span></a>
            <ul class="dropdown-menu white-text">
              <li class="white-text"><%= if user_signed_in? then link_to("Mi Perfil", myprofile_path) 
                  else link_to("Iniciar Sesión", new_user_session_path)
                end %></li>
              <!-- Check for session -->
              <li role="separator" class="divider"></li>
              <li class="white-text"><%= if user_signed_in? then link_to('Cerrar Sesión', destroy_user_session_path, method: :delete, data:{confirm: "¿Quieres Cerrar tu Sessión Actual?"}) end %></li>
              <li class="white-text"><%= link_to "Empresas", new_profile_path %></li>
              <li class="white-text"><a href="#">Ayuda</a></li>
              <%= link_to_panel %>
            </ul>
          </li>
        </ul>
        <%= form_tag("/search", method: "get", class:"navbar-form navbar-right" ) do %>
        <div class="form-group"><%= text_field_tag :query, params[:query], placeholder: "Buscar ejem:'Comida C$200'",class:"form-control"%>
        </div>
        <%= submit_tag "Buscar", class:"btn btn-default" %>
        <% end %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

</header>
<body>



  <% if notice %>
  <div class="alert alert-danger alert-dismissible navbar-fixed-top" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
  <% end %>

  <%= yield%>

  <a href="#" class="back-to-top center"><%= icon('chevron-up') %></a>



</body>

<div id="fb-root"></div>
<script>
  $("img.lazy").lazyload({
    effect : "fadeIn"
  });
  $('.star-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });
</script>
</html>
