<!DOCTYPE html>
<html>
<head>
<%= favicon_link_tag 'AppIcon.png' %>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Nicaragua Live</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= csrf_meta_tags %>
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<meta name="google-site-verification" content="yJ5C5gpFv43Wcqxgl6z9wANka2YjJPNNP9Nt5oTreZY" />
</head>

<header>

<div class="navbar-fixed">
  <nav class="teal darken-2">
    <div class="nav-wrapper">
      <div class="row center">
        <a href="/menus" class="col s2"><i class="material-icons icon-navbar" style="font-size:3rem;">menu</i></a>
        <a href="/" class="col s2"><i class="material-icons icon-navbar">home</i></a>
        <a href= "/categories" class="col s2"><i class="material-icons icon-navbar">explore</i></a>
        <a href="/markets" class="col s2"><i class="material-icons icon-navbar">shopping_basket</i></a>
        <a href="/events" class="col s2"><i class="material-icons icon-navbar">event<span class="badge1">1</span></i></a>
        <a href="/search" class="col s2"><i class="material-icons icon-navbar">search</i></a>
      </div>
    </div>
  </nav>
</div>

</header>
<div class="spinner" style="
z-index: 999;
position: fixed;
width: 100%;
height: 100%;
">
  <div class="preloader-wrapper big active" style="margin-left: 38%; margin-top: 50%;">
    <div class="spinner-layer spinner-blue">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>
</div>
<body>



<% if notice %>
  <script type="text/javascript">
  var $toastContent = $('<span> <i class="material-icons">warning</i> <%= notice %></span>');
  Materialize.toast($toastContent, 8000);
  </script>
<% end %>

  <%= yield%>



</body>

  <div id="fb-root"></div>
<script>
$( document ).ready(function() {

  // hide spinner
  $(".spinner").hide(0);


  // show spinner on AJAX start
  $(document).ajaxStart(function(){
    $(".spinner").show();
  });

  // hide spinner on AJAX stop
  $(document).ajaxStop(function(){
    $(".spinner").hide(0);
  });

  $(document).on("page:fetch", function(){
  $(".spinner").show();
  });

  $(document).on("page:receive", function(){
    $(".spinner").hide();
  });

});

</script>
</html>
