<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag 'nica-logo.gif' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Nicaragua Live</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://use.fontawesome.com/025c4aeae8.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
  <meta name="google-site-verification" content="yJ5C5gpFv43Wcqxgl6z9wANka2YjJPNNP9Nt5oTreZY" />
</head>

<header>

  <!-- Navigation bar -->
  <nav class="sidenav" style="margin-top: 50px;" data-sidenav data-sidenav-toggle="#sidenav-toggle">
    <div class="sidenav-brand">
      BRAND
    </div>

    <div class="sidenav-header">
      Section Header
      <small>secondary text</small>
    </div>

    <ul class="sidenav-menu">
      <li>
        <a href="javascript:;" data-sidenav-dropdown-toggle class="active">
          <span class="sidenav-link-icon">
            <i class="material-icons">store</i>
          </span>
          <span class="sidenav-link-title">Lorem ipsum</span>
          <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_down</i>
          </span>
          <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_up</i>
          </span>
        </a>

        <ul class="sidenav-dropdown" data-sidenav-dropdown>
          <li><a href="javascript:;">Dolor sit amet</a></li>
          <li><a href="javascript:;">Consectetur adipisicing</a></li>
          <li><a href="javascript:;">Elit</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" data-sidenav-dropdown-toggle>
          <span class="sidenav-link-icon">
            <i class="material-icons">payment</i>
          </span>
          <span class="sidenav-link-title">Sed do eiusmod</span>
          <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_down</i>
          </span>
          <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_up</i>
          </span>
        </a>

        <ul class="sidenav-dropdown" data-sidenav-dropdown>
          <li><a href="javascript:;">Tempor incididunt</a></li>
          <li><a href="javascript:;">Labore</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;" data-sidenav-dropdown-toggle>
          <span class="sidenav-link-icon">
            <i class="material-icons">shopping_cart</i>
          </span>
          <span class="sidenav-link-title">Dolore magna</span>
          <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_down</i>
          </span>
          <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_up</i>
          </span>
        </a>

        <ul class="sidenav-dropdown" data-sidenav-dropdown>
          <li><a href="javascript:;">Aliqua</a></li>
          <li><a href="javascript:;">Exercitation</a></li>
          <li><a href="javascript:;">Minim veniam</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <span class="sidenav-link-icon">
            <i class="material-icons">assignment_ind</i>
          </span>
          <span class="sidenav-link-title">Nostrud ullamco</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="sidenav-link-icon">
            <i class="material-icons">alarm</i>
          </span>
          <span class="sidenav-link-title">Commodo</span>
        </a>
      </li>
    </ul>

    <div class="sidenav-header">
      Another Section Header
    </div>

    <ul class="sidenav-menu">
      <li>
        <a href="javascript:;" data-sidenav-dropdown-toggle>
          <span class="sidenav-link-icon">
            <i class="material-icons"><a href="http://www.jqueryscript.net/time-clock/">date</a>_range</i>
          </span>
          <span class="sidenav-link-title">Reprehenderit</span>
          <span class="sidenav-dropdown-icon show" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_down</i>
          </span>
          <span class="sidenav-dropdown-icon" data-sidenav-dropdown-icon>
            <i class="material-icons">arrow_drop_up</i>
          </span>
        </a>

        <ul class="sidenav-dropdown" data-sidenav-dropdown>
          <li><a href="javascript:;">Voluptate</a></li>
          <li><a href="javascript:;">Excepteur</a></li>
        </ul>
      </li>
      <li>
        <a href="javascript:;">
          <span class="sidenav-link-icon">
            <i class="material-icons">backup</i>
          </span>
          <span class="sidenav-link-title">Occaecat</span>
        </a>
      </li>
      <li>
        <a href="javascript:;">
          <span class="sidenav-link-icon">
            <i class="material-icons">settings</i>
          </span>
          <span class="sidenav-link-title">Deserunt</span>
        </a>
      </li>
    </ul>
  </nav>
  <!-- Navigation bar -->

</header>
<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <a href="javascript:;" class="toggle navbar-brand" id="sidenav-toggle">
        <span class="glyphicon glyphicon-th" aria-hidden="true"></span>
      </a>
          <div class="center">
           <%= link_to(image_tag('logo-black-simple-text.png', alt:"Nicaragua Live"), root_path, class:"navbar-brand-logo") %>
          </div>

    </div>
  </nav>


  <% if notice %>
  <div class="alert alert-danger alert-dismissible navbar-fixed-top" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
  <% end %>

  <%= yield%>

  <a href="#" class="back-to-top center"><%= icon('chevron-up') %></a>



</body>

<div id="fb-root"></div>
<script>
  $("img.lazy").lazyload({
    effect : "fadeIn"
  });
  $('.star-rating').raty({
    readOnly: true,
    score: function () {
      return $(this).attr('data-score');
    }
  });

  $('[data-sidenav]').sidenav();
</script>
</html>

