<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Liveapp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<header>

  <nav class="blue darken-4">
    <div class="nav-wrapper row">
      <!---a href="/" class="brand-logo">Esteli Live</a--->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>

      <a href="<% link_to root_path %>" class="button-nav col s2"><i class="material-icons">home</i></a>
      <a href="<% link_to root_path %>" class="button-nav col s2"><i class="material-icons">notifications</i></a>
      <a href="<% link_to root_path %>" class="button-nav col s2"><i class="material-icons">explore</i></a>
      <a href="<% link_to root_path %>" class="button-nav col s2"><i class="material-icons">favorite</i></a>
      <a href="<% link_to root_path %>" class="button-nav col s2"><i class="material-icons">search</i></a>

      <ul class="right hide-on-med-and-down">
          <%= render "/layouts/lateral_bar" %>


      </ul>
      <ul class="side-nav" id="mobile-demo">
          <%= render "/layouts/lateral_bar" %>

          <% if master_admin_signed_in? %>
            <li><a href="/panels/">Panel</a></li>
          <% end %>

      </ul>
    </div>
  </nav>
</header>

  <%= yield%>

</body>
  <script type="text/javascript">
  // Initialize collapse button
  $(".button-collapse").sideNav();
  </script>
</html>
